<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>CMA ANALYSES - TUNISIE</title>
<meta name="description" content="Le Centre Méditerranéen d'Analyses Environnementales et Industrielles ou CMA a été crée par la mise en commun d'une expertise solide en matière d'environnement entre partenaires Tunisien et Européens afin de fournir un service de qualité pour les entreprises soucieuses de se développer tout en assurant une gestion durable de l'environnement.">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/cmadmin/css/style.css')}}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> 

        <!--[if lt IE 9]>
            <script src="{{ asset('bundles/cmadmin/js/respond.min.js')}}"></script>
            <script src="{{ asset('bundles/cmadmin/js/html5.js')}}"></script>
            <script src="{{ asset('bundles/cmadmin/js/excanvas.js')}}"></script>
          <![endif]-->
</head>
<body>
  <!-- header -->
  <header id="header" class="navbar navbar-sm bg bg-black" style="height:40px;">
      
          
           
      </a>
     
  </header><!-- header end --><section id="content"><div class="row-fluid">
        <div class="span4 offset4">
          <div class="text-center m-b-large">
            <h1 class="h text-white">404</h1>
          </div>
           
          <div class="list-group m-b-small">
            
              <a href="http://www.cmanalyses.com" class="list-group-item">
              <i class="icon-chevron-right"></i>
              <i class="icon-home"></i> Retour à la page d'accueil
            </a>
              
          </div>
        </div>
    </div>
  </section><!-- footer --><footer id="footer"><div class="text-center padder clearfix">
      <p>
        <small>&copy; CMA ANALYSES TUNISIE {{ "now"|date("Y") }}</small><br>
        <br>
        <a href="#" class="btn btn-mini btn-circle btn-white"><i class="fa fa-linkedin-square"></i></a>
        <a href="#" class="btn btn-mini btn-circle btn-white"><i class="fa fa-facebook-square"></i></a>
        <a href="#" class="btn btn-mini btn-circle btn-white"><i class="fa fa-google-plus-square"></i></a>
      </p>
    </div>
  </footer><!-- / footer --><!-- Bootstrap --><!-- app --><script src="{{asset('bundles/cmadmin/js/app-js.v1.js')}}"></script>
</body>
</html>
