<div class="span12">
    <!-- BEGIN Tagline -->
    {% for entity in entities %}
        <div class="tagline">

            <table>
                <tr>
                    <td width="95%">
                        <h3> {{ entity.title}} </h3>
                        <p> {{ entity.description}}</p>
                    </td>
                    <td width="5%">
                        <button class="button right" data-toggle="modal" data-target="#myModal{{entity.id}}"><i class="fa fa-eye"></i> visualier</button> 
                    </td>
                </tr>
            </table>


            </p>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal{{entity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ entity.title}}</h4>
                    </div>
                    <div class="modal-body">
                        <img src="{{ asset(entity.getWebPath()) }}" width="100%" height="100%" style="position: relative;" tag="cmanalyses-{{ entity.title}}" />
                    </div> 
                </div>
            </div>
        </div>
    {% endfor %}
</div>




