{% extends 'CmaBundle:Administrator:index.html.twig' %}

{% block body -%}
    <div class="row-fluid">
        <div class="span12" style="margin-top: 5%;">
            <div class="span12">
                <section class="panel"><header class="panel-heading">
                        Liste des slides :
                    </header>
                    <div class="row-fluid text-small">
                        <a href="{{path('certificat_add')}}">
                            <button type="button" class="btn btn-info"><i class="icon-plus-sign"></i> Ajouter une certificat</button>
                        </a>

                        <div class="pull-out m-t-small">
                            <table class="table table-striped b-t text-small">
                                <thead>
                                    <tr>
                                        <th>Id</th> 
                                        <th>Description</th> 
                                        <th>Tag</th>
                                        <th>Certificat</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entity in certficat%}
                                        <tr>
                                            <td>{{ entity.id }}</td>
                                            <td>{{ entity.title }}</td>
                                            <td>{{ entity.description }}</td>  
                                            <td>
                                                <img src="{{ asset(entity.getWebPath()) }}" width="100px"/></td>
                                            <td>
                                               <a href="{{ path('certificat_edit', { 'id': entity.id }) }}">
                                                    <button type="button"><i class="fa fa-pencil-square-o red"></i>modifier</button>
                                                </a>
                                                <a href="{{ path('certificat_drop', { 'id': entity.id }) }}">
                                                    <button type="button"><i class="fa fa-times"></i>effacer</button>
                                                </a> 
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </section>
            </div>

        </div>
    </div>



{% endblock %}
