{% extends 'CmaBundle:Administrator:index.html.twig' %}

{% block body -%}
    <div class="row-fluid">
        <div class="span12" style="margin-top: 5%;">
            <section class="panel"><header class="panel-heading">
                    Meta list : SEO
                </header>
                <div class="row-fluid text-small">
                    {% if entities==null  %}
                    <a href="{{path('contact_add')}}">
                        <button type="button" class="btn btn-info" hidden><i class="icon-plus-sign"></i> Add Meta Data</button>
                    </a>
                    {% else %}  
                        
                    {% endif %}
                    <div class="pull-out m-t-small">
                        <form class="form-horizontal">
                            {% for entity in entities %}
                                <div class="form-group" style="margin-bottom: 10px;">
                                    <label  class="col-sm-2 control-label" style="margin-left: 20px; text-align : left;"><strong>Titre de section :</strong></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control span6" value="{{ entity.title }}"  >
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom: 10px;">
                                    <label  class="col-sm-2 control-label" style="margin-left: 20px; text-align : left;"><strong>Adresse postale :</strong></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control span6" value="{{ entity.postalAdress }}"  >
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom: 10px;">
                                    <label  class="col-sm-2 control-label" style="margin-left: 20px; text-align : left;"><strong>Titre de page :</strong></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control span6" value="{{ entity.title }}"  >
                                    </div>
                                </div>

                                <div class="form-group" style="margin-bottom: 10px;">
                                    <label  class="col-sm-2 control-label" style="margin-left: 20px; text-align : left;"><strong>E-mail :</strong></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control span6" value="{{ entity.mail }}"  > 
                                    </div>
                                </div>

                                <div class="form-group" style="margin-bottom: 10px;">
                                    <label  class="col-sm-2 control-label" style="margin-left: 20px; text-align : left;"><strong>N° Télèphone :</strong></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control span6" value="{{ entity.phone }}"  > 
                                    </div>
                                </div>
                                    
                                <div class="form-group" style="margin-bottom: 10px;">
                                    <label  class="col-sm-2 control-label" style="margin-left: 20px; text-align : left;"><strong>N° Fax :</strong></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control span6" value="{{ entity.fax }}"  > 
                                    </div>
                                </div>

                                

                                <div class="form-group" style="margin-bottom: 10px;">
                                    <label  class="col-sm-2 control-label" style="margin-left: 20px; text-align : left;"><strong>Map script:</strong></label>
                                    <div class="col-sm-10">
                                        <iframe src="{{ entity.map }}"></iframe>
                                    </div>
                                </div>



                                <footer class="panel-footer"><div class="row-fluid">
                                        <a style="margin-left: 20px;" href="{{ path('contact_edit', { 'id': entity.id }) }}">
                                            <button type="button"><i class="fa fa-pencil-square-o"></i>
                                                edit
                                            </button>
                                        </a>
                                </footer>
                            {% endfor %}
                        </form>
                        </section>
                    </div>
                </div>
            {% endblock %}
